<!-- src/app/components/common/common-accordion/common-accordion.component.html -->
<div class="w-full mx-auto sm:my-0">
  <div class="block sm:hidden w-full">
    <app-common-accordion-item title="Kategorier" id="kategorier" customClass="bg-gradient-to-r from-blue-500 to-purple-500">
      <ul>
        <li><a href="#mobler">Möbler</a></li>
        <li><a href="#forvaring">Förvaring</a></li>
        <li><a href="#detaljer">Detaljer</a></li>
        <li><a href="#textil">Textil</a></li>
      </ul>
    </app-common-accordion-item>
    <app-common-accordion-item title="Mina sidor" id="mina-sidor">
      <ul>
        <li><a href="#">Mitt konto</a></li>
      </ul>
    </app-common-accordion-item>
    <app-common-accordion-item title="Kontakta Oss" id="kontakta-oss">
      <ul>
        <li><a href="#">Kundservice</a></li>
        <li><a href="#">Reklamation</a></li>
        <li><a href="#">Vanliga frågor</a></li>
        <li><a href="#">Leverans</a></li>
      </ul>
    </app-common-accordion-item>
  </div>
  <div class="hidden sm:flex sm:flex-row sm:space-x-4 sm:bg-gray-100 sm:p-4">
    <div class="flex-1">
      <h3 class="font-bold mb-2">Kategorier</h3>
      <ul>
        <li><a href="#mobler">Möbler</a></li>
        <li><a href="#forvaring">Förvaring</a></li>
        <li><a href="#detaljer">Detaljer</a></li>
        <li><a href="#textil">Textil</a></li>
      </ul>
    </div>
    <div class="flex-1">
      <h3 class="font-bold mb-2">Mina sidor</h3>
      <ul>
        <li><a href="#">Mitt konto</a></li>
      </ul>
    </div>
    <div class="flex-1">
      <h3 class="font-bold mb-2">Kontakta Oss</h3>
      <ul>
        <li><a href="#">Kundservice</a></li>
        <li><a href="#">Reklamation</a></li>
        <li><a href="#">Vanliga frågor</a></li>
        <li><a href="#">Leverans</a></li>
      </ul>
    </div>
  </div>
</div>
