<!-- src/app/components/cart/cart-customer-form/cart-customer-form.component.html -->
<div class="mt-8">
  <h2 class="text-center text-2xl font-bold mb-6">Customer Info</h2>
  <div class="mb-4">
    <label class="block text-gray-700 mb-2">Full Name</label>
    <input
      type="text"
      name="fullName"
      [(ngModel)]="formData.fullName"
      (ngModelChange)="change.emit($event)"
      class="w-full p-2 border rounded"
      required
    />
  </div>
  <div class="mb-4">
    <label class="block text-gray-700 mb-2">Phone Number</label>
    <input
      type="text"
      name="phoneNumber"
      [(ngModel)]="formData.phoneNumber"
      (ngModelChange)="change.emit($event)"
      class="w-full p-2 border rounded"
      required
    />
  </div>
  <div class="mb-4">
    <label class="block text-gray-700 mb-2">Province</label>
    <select
      name="province"
      [(ngModel)]="formData.province"
      (ngModelChange)="change.emit($event)"
      class="w-full p-2 border rounded"
      required
    >
      <option value="">Select Province</option>
      <option *ngFor="let province of provinces" [value]="province">{{ province }}</option>
    </select>
  </div>
  <div class="mb-4">
    <label class="block text-gray-700 mb-2">City</label>
    <select
      name="city"
      [(ngModel)]="formData.city"
      (ngModelChange)="change.emit($event)"
      class="w-full p-2 border rounded"
      required
    >
      <option value="">Select City</option>
      <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
    </select>
  </div>
  <div class="mb-4">
    <label class="block text-gray-700 mb-2">Street Address</label>
    <input
      type="text"
      name="streetAddress"
      [(ngModel)]="formData.streetAddress"
      (ngModelChange)="change.emit($event)"
      class="w-full p-2 border rounded"
      required
    />
  </div>
  <div class="mb-4">
    <label class="block text-gray-700 mb-2">Postal Code</label>
    <input
      type="text"
      name="postalCode"
      [(ngModel)]="formData.postalCode"
      (ngModelChange)="change.emit($event)"
      class="w-full p-2 border rounded"
      required
    />
  </div>
  <div class="my-10">
    <p class="text-gray-700">
      Total inclusive moms: <span class="font-bold">${{ total.toFixed(2) }}</span>
    </p>
  </div>
</div>
