<!-- src/app/components/product/focus-product-card/focus-product-card.component.html -->
<div class="focus-product-card-container p-4 flex flex-col sm:flex-row items-stretch w-full relative">
  <div class="image-container border border-gray-200 rounded-lg shadow-md p-2 mb-4 sm:mb-0 sm:mr-4 sm:w-2/5 lg:w-2/5 relative flex-shrink-0 sm:h-172">
    <app-product-details-image [image]="product.image" [name]="product.name"></app-product-details-image>
    <div class="absolute bottom-4 right-4">
      <fa-icon
        [icon]="isFavorite ? faHeart : faRegHeart"
        class="text-2xl"
        [ngClass]="isFavorite ? 'text-red-500' : 'text-gray-300'"
        (click)="toggleFavorite($event)"
      ></fa-icon>
    </div>
  </div>
  <div class="flex flex-col w-full sm:w-2/3 mt-4 sm:mt-0 sm:absolute sm:top-0 sm:-right-1/11 sm:h-full">
    <app-focus-product-information [product]="product" [averageRating]="averageRating" (addToCart)="addToCart.emit($event)"></app-focus-product-information>
  </div>
</div>
