<div class="w-3/4 p-4">
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-xl">Produkter</h2>
    <button
      class="bg-gray-800 text-white py-2 px-4 rounded hover:bg-gray-600"
      (click)="navigateToNewProduct()"
    >
      Ny produkt
    </button>
  </div>
  <table class="min-w-full bg-white">
    <thead>
      <tr>
        <th class="py-2 px-4 border-b text-left">Namn</th>
        <th class="py-2 px-4 border-b text-left">SKU</th>
        <th class="py-2 px-4 border-b text-left">Pris</th>
        <th class="py-2 px-4 border-b text-left"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of furniture">
        <td class="py-2 px-4 border-b">{{ item.name }}</td>
        <td class="py-2 px-4 border-b">{{ item.sku }}</td>
        <td class="py-2 px-4 border-b">{{ item.price }}</td>
        <td class="py-2 px-4 border-b text-center">
          <button
            class="text-blue-500 hover:text-blue-700 mr-2"
            (click)="handleEdit(item.id)"
          >
            <fa-icon [icon]="faEdit"></fa-icon>
          </button>
          <button
            class="text-red-500 hover:text-red-700"
            (click)="handleDelete(item.id)"
          >
            <fa-icon [icon]="faTrash"></fa-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
