<!-- src/app/components/common/common-accordion-item/common-accordion-item.component.html -->
<div [ngClass]="['border-b', customClass]" [id]="id">
  <button
    class="w-full text-left p-4 focus:outline-none"
    [ngClass]="customClass"
    (click)="toggleAccordion()"
  >
    <div class="flex justify-between items-center">
      <span>{{ title }}</span>
      <span>{{ isOpen ? '-' : '+' }}</span>
    </div>
  </button>
  <div *ngIf="isOpen" class="p-4 bg-white">
    <ng-content></ng-content>
  </div>
</div>
