<div class="product-information p-4 relative sm:w-1/2">
  <h2 class="text-2xl font-bold mb-2">{{ product.name }}</h2>
  <div class="flex justify-between items-center mb-2">
    <h3 class="text-xl text-gray-700 truncate w-3/4">{{ product.brand }}</h3>
    <p class="text-xl font-semibold">${{ product.price }}</p>
  </div>
  <div class="product-rating flex items-center mb-4">
    <span *ngFor="let _ of [1, 2, 3, 4, 5]; let i = index" class="text-2xl">
      <fa-icon
        [icon]="i < averageRating ? faStar : faRegStar"
        [ngClass]="i < averageRating ? 'text-yellow-500' : 'text-gray-300'"
      ></fa-icon>
    </span>
    <a [routerLink]="['/product', product.urlSlug, 'reviews']" class="text-blue-500 underline ml-4">See all reviews</a>
  </div>
  <p class="text-gray-600 mb-4">{{ product.description }}</p>
  <div class="quantity-selector flex items-center mb-4 sm:mb-0">
    <div class="flex items-center">
      <button
        class="w-8 h-8 flex items-center justify-center bg-gray-200 text-gray-700 rounded-full border border-gray-400"
        (click)="handleQuantityChange(-1)"
      >
        -
      </button>
      <span class="mx-2">{{ quantity }}</span>
      <button
        class="w-8 h-8 flex items-center justify-center bg-gray-200 text-gray-700 rounded-full border border-gray-400"
        (click)="handleQuantityChange(1)"
      >
        +
      </button>
    </div>
    <div class="ml-4 w-full sm:hidden">
      <app-add-to-cart-button [product]="product" [quantity]="quantity" (addToCart)="onAddToCart($event)"></app-add-to-cart-button>
    </div>
  </div>
  <div class="hidden sm:flex sm:items-center sm:mt-4 w-full">
    <app-add-to-cart-button [product]="product" [quantity]="quantity" (addToCart)="onAddToCart($event)"></app-add-to-cart-button>
  </div>
  <app-focus-overview-accordion [product]="product" [reviews]="reviews" class="mt-8 sm:mt-16"></app-focus-overview-accordion>
</div>
