<section class="mt-8 min-h-[72vh] w-full">
  <div class="mx-auto w-full">
    <h2 class="px-6 text-2xl font-bold mb-4">Search Results</h2>
    <p *ngIf="searchQuery" class="px-6 text-5xl font-bold mb-4">"<span class="font-semibold">{{ searchQuery }}</span>"</p>
    <div class="flex justify-between items-center mb-4 px-6">
      <div>
        <label class="text-lg mr-2 cursor-pointer underline" (click)="isSortModalOpen = true">Sortera efter</label>
        <span>{{ sortOption }} ({{ sortOrder === 'asc' ? 'Ascending' : 'Descending' }})</span>
      </div>
      <div>
        <label class="text-lg mr-2 cursor-pointer underline" (click)="isFilterModalOpen = true">Filter</label>
        <span>{{ filterValue || 'All' }}</span>
      </div>
    </div>
    <app-search-results [results]="filteredResults" [searchPerformed]="searchPerformed"></app-search-results>
  </div>

  <app-modal [isOpen]="isSortModalOpen" (close)="isSortModalOpen = false">
    <h2 class="text-xl font-bold mb-4">Sortera efter</h2>
    <ul>
      <li class="mb-2 cursor-pointer" (click)="handleSortChange('Namn')">Namn</li>
      <li class="mb-2 cursor-pointer" (click)="handleSortChange('Pris')">Pris</li>
      <li class="mb-2 cursor-pointer" (click)="handleSortChange('Datum Publiserat')">Datum Publiserat</li>
    </ul>
  </app-modal>

  <app-modal [isOpen]="isFilterModalOpen" (close)="isFilterModalOpen = false">
    <h2 class="text-xl font-bold mb-4">Filter</h2>
    <ul>
      <li class="mb-2 cursor-pointer" (click)="handleFilterChange('')">All</li>
      <li class="mb-2 cursor-pointer" (click)="handleFilterChange('mobler')">Mobler</li>
      <li class="mb-2 cursor-pointer" (click)="handleFilterChange('forvaring')">Forvaring</li>
      <li class="mb-2 cursor-pointer" (click)="handleFilterChange('textil')">Textil</li>
      <li class="mb-2 cursor-pointer" (click)="handleFilterChange('detaljer')">Detaljer</li>
    </ul>
  </app-modal>
</section>