<!-- src/app/components/cart/cart.component.html -->
<div class="p-4 sm:p-8">
  <h1 class="text-2xl sm:text-3xl font-bold mb-4 sm:mb-6">Shopping Cart</h1>
  <div class="sm:flex sm:space-x-8">
    <div class="sm:w-1/2 flex flex-col justify-between">
      <form (ngSubmit)="handleCheckout($event)">
        <app-my-basket
          [cartItems]="cartItems"
          (updateCartItem)="updateCartItem($event.productId, $event.quantity)"
          (deleteCartItem)="deleteCartItem($event)"
        ></app-my-basket>
        <app-cart-customer-form
          [formData]="formData"
          (change)="handleChange($event)"
          [total]="cartItems.reduce((total, item) => total + item.price * item.quantity, 0)"
        ></app-cart-customer-form>
        <div class="flex justify-between items-center mt-4 sm:mt-0">
          <button
            class="bg-blue-500 text-white px-4 py-2 rounded mt-2 sm:mt-0"
            type="button"
            (click)="navigateToHome()"
          >
            Continue Shopping
          </button>
          <button
            class="bg-green-500 text-white px-4 py-2 rounded mt-2 sm:mt-0"
            type="submit"
          >
            Purchase
          </button>
        </div>
      </form>
    </div>
    <div class="sm:w-1/2">
      <app-maybe-you-also-like [items]="recommendedItems"></app-maybe-you-also-like>
    </div>
  </div>
  <p *ngIf="error" class="text-red-500 mt-4">{{ error }}</p>
  <p *ngIf="success" class="text-green-500 mt-4">Customer details submitted successfully!</p>
</div>
