<div class="p-4 sm:p-8">
  <h1 class="text-2xl sm:text-3xl font-bold mb-4 sm:mb-6">Shopping Cart</h1>
  <div class="sm:flex sm:space-x-8">
    <div class="sm:w-1/2 flex flex-col justify-between">
      <form (ngSubmit)="handleCheckout($event)" novalidate>
        <app-my-basket
          [cartItems]="cartItems"
          (updateCartItem)="updateCartItem($event)"
          (deleteCartItem)="deleteCartItem($event)"
        ></app-my-basket>
        <div class="flex justify-between items-center mt-4 sm:mt-0">
          <button
            class="bg-blue-500 text-white px-4 py-2 rounded mt-2 sm:mt-0"
            type="button"
            (click)="navigateToHome()"
          >
            Continue Shopping
          </button>
          <button
            class="bg-green-500 text-white px-4 py-2 rounded mt-2 sm:mt-0"
            type="submit"
            (click)="onPurchaseClick()"
          >
            Purchase
          </button>
        </div>
      </form>
    </div>
    <div class="sm:w-1/2">
      <app-maybe-you-also-like [items]="recommendedItems"></app-maybe-you-also-like>
    </div>
  </div>
  <p *ngIf="error" class="text-red-500 mt-4">{{ error }}</p>
</div>